header{
    
    background-color: #90FD8D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

}

.introducao{
    margin: 0 30px;
}

.titulo{
    text-align: center;
}