header{
    
    background-color: #90FD8D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;

}

.introducao{
    margin: 0 30px;
}

.titulo{
    text-align: center;
}


.estacoes{
    text-align: center;
    margin: 0 30px;
}

@media screen and (min-width: 1024px) {
    /*Estilo para tabletes */
    .estacoes{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .primeira{
        padding-left: 20px;
    }
    .segunda{
        padding-right: 30px;
    }
    .terceira{
        padding-left: 20px;
    }
    .quarta{
        padding-right: 30px;
    }
    
}